.workExperienceElement{
    padding: 10px 5px;
    margin: 10px;
    background-image:  url(https://t3.ftcdn.net/jpg/02/33/47/14/360_F_233471486_WIOAYpd2Rm1rWiVHcSwprEgCTTdaY6gu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px 3px blue;
    border-radius: 20px;
    width: 55%;
}

.workExperienceContainer{
    margin-top: 20px;
    background-image:  url(https://media.istockphoto.com/photos/abstract-textured-background-in-light-purple-picture-id1185663330?k=20&m=1185663330&s=612x612&w=0&h=XKJy_aQ3a99bRmWOaKLEHUazYqXjiKGNIQjfz145RtA=);
    background-repeat: no-repeat;
    background-size: cover;
}

.workExperienceHeader{
    color: whitesmoke;
    text-shadow: 3px 3px blue;
    font-size: 250%;
    text-align: center;
    margin: 20px 0px;
    letter-spacing: 5px;
}

.experiencesContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.workExperienceElement * {
    padding-top: 10px;
    letter-spacing: 2px;
    color: seashell;
    text-align: center;
}