.workExperienceElement{
    padding: 10px 5px;
    margin: 10px;
    background-image:  url('../../../static_files/expInnerBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px 3px blue;
    border-radius: 20px;
    width: 55%;
}

.workExperienceContainer{
    width: 100%;
    margin-top: 20px;
    background-image:  url('../../../static_files/expBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.workExperienceHeader{
    color: whitesmoke;
    text-shadow: 3px 3px blue;
    font-size: 250%;
    text-align: center;
    margin: 20px 0px;
    letter-spacing: 5px;
}

.experiencesContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    word-wrap: break-word;
    white-space: pre-line;
    
}

.workExperienceElement * {
    padding-top: 10px;
    letter-spacing: 2px;
    color: seashell;
    text-align: center;
}

@media only screen and (max-width: 600px){
    .workExperienceElement{
        max-width: 85%;
        width: 85%;
    }

    .workExperienceContainer{
        margin: 0;
        padding: 0;
        width: 100%;
    }

}