@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto:wght@500&display=swap');


*{
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.EditButton{
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.EditButton:hover{
  opacity: 0.8;
}

.CustomFooter{
  background-image: url('./static_files/footerBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 20px;
}

.CustomFooter span{
  margin-left: 10px;
}

.fontawesomeIcons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.CustomFooter a:hover{
  opacity: 0.8;
  cursor: pointer;
}

.GeneralForm{
  background-image: url('./static_files/summary_background.jpeg');
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}

.GeneralForm input, select, textarea {
    margin-top: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .GeneralForm button{
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
  }

  .GeneralForm button:hover{
    cursor: pointer;
    opacity: 0.8;
  }
.formContacts{
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.formContacts a{
  font-size: 150%;
  padding-left: 15%;
}

.formContacts a:hover{
  cursor: pointer;
  opacity: 0.8;
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#AboutPage, #Footer, #Navigation, #Login{
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

 #BlogPage, #ContactPage, #ArticleDetailPage{
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

@media only screen and (max-width: 600px) {

  .formContacts{
    margin-top: 10px;
    display: inline;
  }

  .formContacts span{
    margin-top: 10px;

  }

  #Login{
    margin-bottom: 300px;
  }
  
}

#Login{
  margin-bottom: 350px;
}