.educationHeader {
    text-align: center;
    color: purple;
    margin: 20px 0px;
    font-size: 250%;
}

.educationItem {
    background-image: url(../../../static_files/summary_background.jpeg);
    color: purple;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    width: 45%;
    word-wrap: break-word;
    white-space: pre-line;
}

.educationListContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    letter-spacing: 2px;
    
}

.educationContainer{
    width: 100%;
    background-image: url('../../../static_files/educationBG.jpg');

}

@media only screen and (max-width: 600px){
    
    .educationItem{
        max-width: 85%;
        width: 85%;
        margin-bottom: 25px;
    }

    .educationContainer{
        margin: 0;
        padding: 0;
        width: 100%;
    }



   
}