.projectList{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.projectItem{
    max-width: 45%;
    background-color: deeppink;
    color: gold;
    padding: 5px;
    margin-top: 10px;
    word-wrap: break-word;
}

.projectImage{
    max-width: 100%;
}