.projectList{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.projectItem{
    width: 55%;
    max-width: 55%;
    background-image: url('../../../static_files/expInnerBG.jpg');
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    text-shadow: 3px 3px blue;
    color: white;
    padding: 5px;
    margin-top: 10px;
    word-wrap: break-word;
    letter-spacing: 2px;
}

.projectItem *{
    color: white;
}
.projectItem a:hover{
    cursor: pointer;
    opacity: 0.4;
}
.projectImage{
    max-width: 100%;
}

.header{
    text-align: center;
    text-shadow: 3px 3px blue;
    margin: 20px 0px;
    color: whitesmoke;
    font-size: 250%;
    letter-spacing: 5px;
}

.projectsContainer{
    width: 100%;
    background-image: url('../../../static_files/expBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px){
    .projectItem{
        max-width: 85%;
        width: 85%; 
        margin-bottom: 25px;
    }

    .projectsContainer{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

   
}