.navigation {
    background-color: rgb(78, 42, 89);
    display: grid;
    grid-template-areas: "leftbar rightbar"
}

.homeButtonContainer{
    grid-area: rightbar;
    padding: 20px;
}

.homeButtonContainer{
    grid-area: leftbar;
}

.selected{
    opacity: 0.5;
}

.navigationList{
    padding: 20px;
}

.navigationItem{
    margin: 20px;
    color: salmon;
    text-decoration: none;
    font-size: 150%;
}

.navigationItem:hover{
    cursor: pointer;
    opacity: 0.4;
}

.homeButton{
    color: #e6d8db    ;
    margin: 20px;
    text-decoration: none;
    font-size: 150%;
    animation: up 4s infinite;
}

@keyframes up {
    from {color: #e6d8db;}
    to {color: salmon;}
  }

.homeButton:hover{
    cursor: pointer;
    opacity: 0.4;
}