.aboutPage {
    display: grid;
    grid-template: "summary" auto;
}

@media only screen and (max-width: 600px){
    .aboutPage{
        width: 100% auto;
        display: flex;
        flex-flow: column wrap;
    }

}